

#bienvenida .card-body{
  background-color: #f7f7f7; /* Fondo general de la sección */
}

#bienvenida .card-text {
  font-size: 1.2rem; /* Incrementa el tamaño de la letra */
  text-align: justify; /* Justifica el texto */
}

#bienvenida  .card-title.text-center {
  color: white;
  font-weight: bold;
  background-color: #0066cc; /* Fondo azul para el título */
  font-size: 1.75rem; /* Incrementa el tamaño de la letra del título */
}

#intencion-educativa{
  margin-top: 1rem;
}

#intencion-educativa .card-body{
  background-color: #f7f7f7; /* Fondo general de la sección */
}

#intencion-educativa .card-text {
  font-size: 1.2rem; /* Incrementa el tamaño de la letra */
  text-align: justify; /* Justifica el texto */
}

#intencion-educativa .card-title.text-center {
  color: white;
  font-weight: bold;
  background-color: #0066cc; /* Fondo azul para el título */
  font-size: 1.75rem; /* Incrementa el tamaño de la letra del título */
}

#proposito-de-la-unidad-de-aprendizaje{
  margin-top: 1rem;
}

#proposito-de-la-unidad-de-aprendizaje .card-body{
  background-color: #f7f7f7; /* Fondo general de la sección */
}

#proposito-de-la-unidad-de-aprendizaje .card-text {
  font-size: 1.2rem; /* Incrementa el tamaño de la letra */
  text-align: justify; /* Justifica el texto */
}

#proposito-de-la-unidad-de-aprendizaje .card-title.text-center {
  color: white;
  font-weight: bold;
  background-color: #0066cc; /* Fondo azul para el título */
  font-size: 1.75rem; /* Incrementa el tamaño de la letra del título */
}

#metodologia{
  margin-top: 1rem;
}

#metodologia .card-body {
  background-color: #f7f7f7; /* Fondo general de la sección */
}

#metodologia .card-text {
  font-size: 1.2rem; /* Incrementa el tamaño de la letra */
  text-align: justify; /* Justifica el texto */
}

#metodologia .card-title {
  font-size: 1.5rem; /* Incrementa el tamaño de la letra del título */
}

#metodologia .card-title.text-center {
  color: white;
  font-weight: bold;
  background-color: #0066cc; /* Fondo azul para el título */
  font-size: 1.75rem; /* Incrementa el tamaño de la letra del título */
}

#metodologia .list-group-item {
  background-color: #f7f7f7; /* Fondo general de la sección */
  font-size: 1.2rem; /* Incrementa el tamaño de la letra */
  text-align: justify; /* Justifica el texto */
}

#requerimientos{
  margin-top: 1rem;
}

#requerimientos .card-body {
  background-color: #f7f7f7; /* Fondo general de la sección */
}

#requerimientos .card-title.text-center {
  color: white;
  font-weight: bold;
  background-color: #0066cc; /* Fondo azul para el título */
  font-size: 1.5rem; /* Incrementa el tamaño de la letra del título */
}

#requerimientos .list-group-item {
  background-color: #f7f7f7; /* Fondo general de la sección */
  font-size: 1.2rem; /* Incrementa el tamaño de la letra */
  text-align: justify; /* Justifica el texto */
}

#contactos{
  margin-top: 1rem;
}


#contactos .card {

  background-color: #f7f7f7; /* Fondo general de la sección */
}
#contactos .card-body {
  display: flex; 
  flex-direction: column; 
  align-items: center;
  background-color: #f7f7f7; /* Fondo general de la sección */
}

#contactos .card-title.text-center {
  color: white;
  font-weight: bold;
  background-color: #0066cc; /* Fondo azul para el título */
  font-size: 1.5rem; /* Incrementa el tamaño de la letra del título */
}

#contactos .card-group .card {
  transition: transform 0.2s; /* Efecto de transición para el hover */
}

#contactos .card-group .card .card-body:hover {
  transition: background-color 0.2s;
  background-color: #5894ff;
  color: white;
}

#contactos .card-title {
  font-size: 1.2rem; /* Incrementa el tamaño de la letra */
  text-align: center; /* Centra el texto del título */
}

#contactos .card-text {
  font-size: 1rem; /* Incrementa el tamaño de la letra */
  text-align: center; /* Centra el texto */
}


