footer{
    background-color: #4085ff;
}


footer .card{
    color: white;
    font-weight: bold;
    background-color: #4085ff; /* Asegura que el color de fondo sea consistente */
    font-size: 1.75rem; /* Usar rem para el tamaño de la fuente */
}

footer .card-title{
    font-weight: bold;
    font-size: 1.75rem; /* Usar rem para el tamaño de la fuente */
}

footer .card-text{
    font-weight: bold;
    font-size: 1.3rem; /* Usar rem para el tamaño de la fuente */
}

footer .btn{
    border-radius: 0.5rem;
    border-style: solid;
    border-color: black;
    color: black;
    background-color: #dfdfdf;
    width: 3rem;
    height: 2.5rem;
}