/* Estilos para la sección con id pageContentCard */
#pageContentCard {
    font-size: 18px; /* Aumenta el tamaño de la fuente */
    color: #333; /* Color del texto */
    background-color: #dfdfdf; /* Fondo general de la sección */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para un diseño moderno */
}

/* Estilos para el título de la card */
#pageContentCard .card-header {
    background-color: #0066cc; /* Fondo azul para el título */
    color: #ffffff; /* Texto en blanco */
    font-size: 22px; /* Tamaño más grande para el título */
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid #005bb5; /* Ligeramente más oscuro para contraste */
    padding: 10px;
}

/* Estilos para el título de la card */
#pageContentCard .card-header.cardExample{
    text-align: left;
}

/* Estilos para el cuerpo de la card */
#pageContentCard .card-body {
    background-color: #e7e7e7; /* Fondo general de la sección */
    border: 1px solid #ddd; /* Borde suave */
    padding: 20px;
}

/* Estilos para el texto dentro de la sección */
#pageContentCard .card-text {
    text-align: justify;
    font-size: 20px;
    line-height: 2.5rem; /* Mejora la legibilidad */
    color: black; /* Color más oscuro para el texto */
}

/* Estilos para el botón dentro de la sección */
#pageContentCard .btn-primary {
    background-color: #0066cc; /* Color principal del botón */
    border-color: #005bb5;
    font-size: 20px; /* Tamaño más grande del texto */
    font-weight: bold;
    padding: 12px 16px;
    transition: all 0.3s ease-in-out; /* Suavidad en las transiciones */
}

/* Hover y focus para el botón */
#pageContentCard .btn-primary:hover {
    background-color: #005bb5; /* Color más oscuro al pasar el cursor */
    border-color: #004a94;
}

#pageContentCard .btn-primary:focus {
    box-shadow: 0 0 5px #005bb5; /* Añade un resplandor */
}

/* Opciones adicionales para mejorar el diseño móvil */
@media (max-width: 768px) {
    #pageContentCard {
        font-size: 16px; /* Ajusta el tamaño en dispositivos pequeños */
    }

    #pageContentCard .btn-primary {
        font-size: 18px; /* Texto más pequeño para botones en pantallas reducidas */
    }
}

  table.card-text {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
    text-align: left;
  }
  table.card-text th, table.card-text td {
    border: 1px solid #ddddddab;
    padding: 12px;
  }
  table.card-text th {
    background-color: #f4f4f481;
    font-weight: bold;
    text-align: center;
  }
  table.card-text tr:nth-child(even) {
    background-color: #f9f9f993;
  }
  table.card-text tr:hover {
    background-color: #b6a9a9;
  }

